/**
  * Car Pool starter (https://store.enappd.com/product/blablacar-clone-ionic-car-pooling-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
.flex {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.width {
  width: 100%;
  height: 55px;
  --inner-padding-end: 10px;
}
ion-text {
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 131, 143) !important;
}
p.sureItem {
  font-weight: bold;
  color: var(--ion-color-secondary-tint);
  font-size: 18px;
  width: 100%;
  text-align: start;
  text-transform: none;
}
p {
  font-weight: bold;
  font-size: 18px;
  color: var(--ion-color-medium);
  width: 100%;
  text-align: start;
  text-transform: none;
}
.image_Div {
  width: 100%;
}
ion-icon {
  font-weight: bold;
  font-size: 26px;
}
