<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-content class="ion-padding">
  <div class="ion-padding-bottom">
    <div class="ion-text-center">
      <p class="textBold">Enter the code that was sent to</p>
      <span class="dangerspan">{{phoneNumber}} </span>
    </div>

    <div class="divOuter marginTop">
      <div class="divInner marginTop">
        <ion-input type="tel" class="inputBorder  marginTop" #otp1 maxlength="1" [(ngModel)]="otpInput1"
          (keyup)="next(otp2,'1')"></ion-input>
        <ion-input type="tel" class="inputBorder marginTop" #otp2 maxlength="1" [(ngModel)]="otpInput2"
          (keyup)="next(otp3,'2')"></ion-input>
        <ion-input type="tel" class="inputBorder marginTop" #otp3 maxlength="1" [(ngModel)]="otpInput3"
          (keyup)="next(otp4,'3')"></ion-input>
        <ion-input type="tel" class="inputBorder marginTop" #otp4 maxlength="1" [(ngModel)]="otpInput4"></ion-input>
      </div>
    </div>
  </div>

  <div class="ion-padding ion-margin-horizontal ion-margin-vertical ion-text-center">
    <ion-button color="secondary" expand="block" class="btnSubmit textBold ion-margin-bottom" (click)="verify()">
      CONTINUE
    </ion-button>
    <ion-text color="danger">I didn't get a code</ion-text>
  </div>
  <div class="ion-text-center divMedium">
    <p>Tap continue to accept Facebook's <u>Terms,data Policy,cookie use </u>and the <u>Privacy Policy</u> and <u>Terms
        of service</u> of tinder.</p>
  </div>
</ion-content>