/**
  * Car Pool starter (https://store.enappd.com/product/blablacar-clone-ionic-car-pooling-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
agm-map {
  height: 200px;
}
#map {
  height: 100%;
}
ion-button {
  height: 40px;
  --border-radius: 15px;
}
