<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Journey & Stops</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let editDetails of editData" (click)="gotoPages(editDetails.route)">
      <ion-label>
        <ion-text color="secondary">{{editDetails.head}}</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-padding">
  <ion-toolbar>
    <ion-button expand="block" color="secondary" type="submit" class="ion-text-capitalize" (click)="deleteRide()">Delete
    </ion-button>
  </ion-toolbar>
</ion-footer>