/**
  * Car Pool starter (https://store.enappd.com/product/blablacar-clone-ionic-car-pooling-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
.menu {
  color: white !important;
}

.white {
  color: white !important;
}

.full {
  display: block;
  width: 100%;
  margin-top: 25px;
}

.left {
  float: left;
}

.avatar {
  width: calc(16vw - 4px);
  height: calc(16vw - 4px);
  border-radius: calc(8vw - 2px);
  z-index: 2;
}

.restrict {
  --height: 33px;
}

.input {
  background-color: white;
  border-radius: 20px;
  font-size: 0.9em !important;
  box-shadow: 0 0 10px #444;
}

.animate {
  animation-name: fadeIn;
  animation-duration: 1s;
  transition: 0.1s;
}

.right {
  float: right;
}

.text {
  font-size: 16px;
  word-break: break-all;
}

.card {
  margin-bottom: 9px;
  max-width: 80%;
  padding: 12px;
  border-radius: 6px;
  border: 0.5px solid rgb(210, 210, 210);
  background-color: white;
}

.item-inner {
  height: 33px;
}
@keyframes fadeIn {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.android {
  .input-position {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  }
}

.custom-footer-row {
  min-height: 65px;
}

.send-button {
  height: 36px;
  width: 90%;
  box-shadow: 0 0 10px #444;
  border-radius: 50%;
}

.bg-image-X {
  padding: 80px 15px 106px;
}

.chat-item {
  --background: transparent;
}

ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.no-padding {
  --padding: 0;
  padding: 0;
}

.chat-row {
  display: flex;
  flex-direction: row;
}

.reverse {
  flex-direction: row-reverse;
}

.name-row-left {
  background: white;
  padding: 5px 10px 5px 9vw;
  margin-left: -8vw;
  z-index: 1;
  width: fit-content;
  border-top-right-radius: 16px;
  font-size: 12px;
  position: relative;
  height: 6vw;
}

.name-row-right {
  background: white;
  padding: 5px 9vw 5px 10px;
  margin-right: -8vw;
  z-index: 1;
  text-align: right;
  width: fit-content;
  border-top-left-radius: 16px;
  font-size: 12px;
  position: relative;
  height: 6vw;
}

.name-row-parent-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name-row-parent-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message-row-left {
  background: #0c96df;
  padding: 7px 15px 8px 11vw;
  margin-left: -8vw;
  min-height: 10vw;
  display: flex;
  align-items: center;
  border-top-right-radius: 5vw;
  border-bottom-right-radius: 5vw;
  color: white;
  position: relative;
}

.message-row-right {
  background: #00c06d;
  padding: 7px 15vw 8px 11px;
  margin-right: -8vw;
  min-height: 10vw;
  display: flex;
  align-items: center;
  border-top-left-radius: 5vw;
  border-bottom-left-radius: 5vw;
  color: white;
  position: relative;
}

.avatar-parent {
  z-index: 2;
  border-radius: 8vw;
  min-width: 16vw;
  height: 16vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-border {
  position: absolute;
  width: 16vw;
  height: 16vw;
  top: 0;
  left: 0;
  border: 1vw solid white;
  border-radius: 50%;
  box-shadow: none;
  outline: none;
}

.reverse-arc-left {
  width: 6vw;
  height: 4vw;
  position: absolute;
  background: white;
  left: 5.8vw;
  bottom: -4vw;
  display: flex;
  justify-content: flex-end;
  border-bottom-right-radius: 4vw;
}

.reverse-arc-color-left {
  width: 4vw;
  height: 4vw;
  background: #0c96df;
  border-top-left-radius: 4vw;
  border-bottom-right-radius: 2vw;
}

.reverse-arc-right {
  width: 6vw;
  height: 4vw;
  position: absolute;
  background: white;
  right: 5.8vw;
  bottom: -4vw;
  display: flex;
  justify-content: flex-start;
  border-bottom-left-radius: 4vw;
}

#chat-parent {
  scroll-behavior: smooth;
}

.reverse-arc-color-right {
  width: 4vw;
  height: 4vw;
  background: #00c06d;
  border-top-right-radius: 4vw;
  border-bottom-left-radius: 3vw;
}

.timer-left {
  position: absolute;
  right: -75px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  top: 4px;
}

.timer-right {
  position: absolute;
  left: -75px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  top: 4px;
}

.title-block {
  display: flex;
  justify-content: center;
  align-content: center;
}

.title-icon {
  font-size: 32px;
}

.title-text {
  padding-left: 5px;
  align-self: center;
}

.first-tick {
  font-size: 25px;
  position: absolute;
  left: -24px;
  top: -4px;
}

.second-tick {
  font-size: 25px;
  position: absolute;
  left: -28px;
  top: -4px;
}

.custom-footer {
  height: 65px;
}
.plusClass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  right: 15px;
  position: relative;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 15ms linear, color 15ms linear;
  box-shadow: 0 0.5px 0px 5px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
}
.contentCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding_right {
  padding-right: 8px;
}
.tab-icon {
  font-size: 20px;
}
.withcount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.chatCount {
  background: var(--ion-color-secondary-tint);
  width: 17px !important;
  height: 17px !important;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  color: var(--ion-color-tertiary-contrast);
  margin-left: 8px;
  box-shadow: 0 0.5px 0px 2px #24d6ea66, 0 0px 2px 0 #24d6ea66, 0 1px 2px 0 #24d6ea66;
}
h2 {
  color: #383a3ec7;
}
.timeEnd {
  display: flex;
  justify-content: flex-end;
  width: 49%;
  margin-top: 5px;
  align-items: center;
}
.widthHalf {
  width: 70%;
  color: var(--ion-color-medium-shade);
  font-size: 12px;
}
.nameAvatar {
  display: flex;
  align-items: center;
  width: 50%;
  h2 {
    font-size: 0.94em;
    font-weight: bold;
  }
}
ion-text {
  font-size: 10px;
}

ion-title {
  font-size: 15px;
}
.toolbarDiv {
  display: flex;
}

.searchItemCont {
  --inner-border-width: 0 0 0px 0;
  .searchItem {
    padding: 0 !important;
    margin: 0 !important;
  }
  ion-searchbar {
    width: 70%;
    padding: 0 !important;
    margin: 0 !important;
  }
}
.ProfileAvatr {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--ion-color-secondary-tint);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.chatImage {
  width: 45px;
  height: 45px;
}
ion-item-option {
  --background: var(--ion-color-warning-contrast);
  --color: var(--ion-color-dark-shade);
  .timeEnd {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .chatCount {
    background: #ff7d91;
    width: 70px !important;
    height: 20px !important;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: var(--ion-color-tertiary-contrast);
    border-radius: 10px;
    box-shadow: 0 0.5px 0px 2px #ff7d915c, 0 0px 0px 0 #ff7d916e, 0 0px 0px 0 #ff7d917a;
  }
}
.typeAnddistance {
  justify-content: flex-start;
  color: #86888fcf;
  align-items: flex-end;
  display: flex;
  font-size: 12px;
  .typeAnddistancePara {
    color: var(--ion-color-medium-shade);
    font-size: 12px;
    display: flex;
    padding-right: 10px;
    margin-bottom: 0;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.chatCountNot {
  background: var(--ion-color-light-shade);
  width: 17px !important;
  height: 17px !important;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  color: var(--ion-color-tertiary-contrast);
  margin-left: 8px;
  box-shadow: 0 0.5px 0px 2px #d7d8daa3, 0 0px 0px 0 #d7d8da99, 0 0px 0px 0 #d7d8da94;
}
.crown {
  width: 15px;
  height: 13px;
}
.title-ios {
  padding: 0;
  margin: 0;
  width: 48%;
}
ion-list-header {
  color: var(--ion-color-danger);
}
@keyframes exampleHidden {
  from {
    top: 0px;
  }
  to {
    bottom: 120px;
  }
}
.buttonClickedAnimate {
  -webkit-animation-name: exampleHidden;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-name: exampleHidden;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.checkcolor {
  color: gray;
  font-size: 12px;
}
.scroll {
  display: flex;
  overflow: scroll;
  height: 75px;
  ion-avatar {
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    .avatarImage {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .absHeart {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      position: relative;
      top: 90%;
      left: 0;
      right: 0;
      margin: auto;
      width: 20px;
      height: 20px;
    }
  }
}
.cardBorder {
  border: 2px dashed var(--ion-color-light-shade);
}
.cardBorderless {
  border: 2px solid #ff9800;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-ios {
  .scroll {
    display: flex;
    overflow: scroll;
    height: 85px;
    align-items: center;
  }
}
.header-ios {
  ion-segment-button {
    border-bottom: none !important;
    border: none !important;
  }
}
