<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Delete Ride</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let delete of deleteRide">
    <ion-item *ngIf="delete.header1" class="backColor">
      <ion-row>
        <ion-col size="12">
          <ion-label>
            <ion-text class="ion-text-wrap header1">{{delete.header1}}</ion-text>
          </ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label class="ion-text-center">
            <ion-text class="ion-text-wrap header2">{{delete.header2}}</ion-text>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-list-header *ngIf="delete.listheader">{{delete.listheader}}</ion-list-header>
    <ion-item *ngIf="delete.label">
      <ion-label position="stacked" class="labelText">{{delete.label}}</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One"
        *ngIf="delete.select">
        <ion-select-option value={{select.reason}} *ngFor="let select of delete.select">{{select.reason}}
        </ion-select-option>
      </ion-select>
      <ion-textarea *ngIf="delete.placeholder" class="ion-text-justify" rows="2" cols="15"
        placeholder={{delete.placeholder}}>
      </ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-padding">
  <ion-toolbar>
    <ion-button expand="block" color="secondary" type="submit" (click)="deleteData()">Confirm cancellation</ion-button>
  </ion-toolbar>
</ion-footer>