/**
  * Car Pool starter (https://store.enappd.com/product/blablacar-clone-ionic-car-pooling-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
.header1 {
    font-size: 15px;
    color: rgb(0, 96, 100);
}
.header2 {
    font-size: 12px;
    color: rgb(0, 96, 100);
}
.backColor {
    --background: rgb(238, 238, 238);
}
ion-list-header {
    --background: rgb(12, 209, 232);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.labelText {
    color: #006064;
    font-weight: bold;
    margin: 0;
}
ion-item {
    --inner-border-width: 0 0 0px 0;
}
ion-list {
    padding-top: 0;
}
ion-button {
    height: 40px;
    --border-radius: 15px;
}
