<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Confirm Booking</ion-title>
  </ion-toolbar>

  <progress-bar [progress]="progress" [color]="'#3dc2ff'">
  </progress-bar>
  <ion-row>
    <ion-col size="12">
      <div class="ion-text-center">
        <img src="assets/image/cartaxi.png">
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="ion-text-center">
        <p class="text_color" class="ion-no-margin"> REQUEST ONGOING </p>
      </div>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content class="content-bg">

  <ion-card class="map_card">
    <ion-item>
      <div slot="start">
        <ion-label>
          <ion-icon name="arrow-down-circle-outline" class="icon_drop"></ion-icon>
          <div class="vertical_dash" slot="start"></div>
          <ion-icon name="location-outline" class="icon_pin"></ion-icon>
        </ion-label>
      </div>
      <ion-label>
        <p class="horizontal_line">{{pickupAddress}}</p>
        <p>{{dropAddress}}</p>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer class="ion-padding">
  <ion-toolbar>
    <ion-button expand="block" type="submit" class="submit_button" color="secondary">CANCEL REQUEST</ion-button>
  </ion-toolbar>
</ion-footer>