<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Check Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tcktContainer">
    <ion-row>
      <ion-col size="2" class="boderCol">
        <div class="timeDiv">
          <div class="circle">
            <ion-text color="danger">{{time.substr(0,5)}}</ion-text>
          </div>
          <div class="circle">
            <ion-text color="secondary">01:00</ion-text>
          </div>
        </div>
      </ion-col>
      <ion-col size="10">
        <div class="routeInformation">
          <ion-item>
            <ion-label class="ion-no-margin">
              <ion-text>{{pickupAddress}}</ion-text>
              <div class="flex">
                <p>
                  <ion-icon name="location-outline" expand="icon-only"></ion-icon>6.5km from your departure
                </p>
              </div>

            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-text>{{dropAddress}}</ion-text>
              <div class="flex">
                <p>
                  <ion-icon name="location-outline" expand="icon-only"></ion-icon>4.5km from your arrival
                </p>
              </div>

            </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <ion-item class="ion-margin-bottom">
    <ion-text slot="start" class="totalText">Total</ion-text>
    <ion-text slot="end" class="totalText">{{totalPass}} * {{totalCost}}</ion-text>
  </ion-item>
  <ion-item class="ion-margin-bottom">
    <ion-text slot="end" class="totalText">Amount = ₹{{total}}</ion-text>
  </ion-item>
  <div class="ion-padding">
    <ion-button expand="block" color="secondary" (click)="goForBooking()">Book</ion-button>
  </div>
</ion-content>