/**
  * Car Pool starter (https://store.enappd.com/product/blablacar-clone-ionic-car-pooling-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
.header-md:after {
  left: 0;
  bottom: -1px;
  height: 1px;
}
.ion-thumbnail {
  background: var(--ion-color-secondary-tint);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 80px;
  margin-top: 8px;
  height: 80px;
}
.icon-thumbnail {
  font-size: 75px;
  color: white;
}
.div1 {
  width: 200px;
  background: var(--ion-color-light-shade);
  height: 30px;
  margin-left: 18px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.div2 {
  width: 200px;
  background: var(--ion-color-light-shade);
  height: 12px;
  margin-left: 18px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.div3 {
  width: 200px;
  background: var(--ion-color-light-shade);
  height: 12px;
  margin-left: 18px;
  border-radius: 10px;
}
ion-card {
  border-radius: 10px;
}
.card_bottom_item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  color: var(--ion-color-secondary-tint);
  background: white;
}
ion-item {
  --inner-border-width: 0 0 0px 0;
}
ion-list-header {
  color: var(--ion-color-medium-tint);
  font-weight: 500;
  min-height: 0px !important;
}
.no-boxshadow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
ion-list {
  background: transparent;
}
.buttonCss {
  border-bottom: 1px solid gray;
}
ion-input {
  border-bottom: 1px solid #ccc;
}
