<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab={{tab.tab}} *ngFor="let tab of tabRoutes;let i= index" (click)="showTabLabel(tab)">
      <ion-icon name={{tab.iconName}}></ion-icon>
      <ion-label *ngIf="clicked === tab.label">{{tab.label}}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>