<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-item>
      <ion-label>
        <p>{{address}}</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="goToDrop()">
    <ion-fab-button color="secondary">
      <ion-icon name="arrow-forward" mode="md"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <agm-map [latitude]="pickupLat" [longitude]="pickupLng" [zoom]="zoom" [fullscreenControl]="true">

    <agm-marker [latitude]="pickupLat" [longitude]="pickupLng" [markerDraggable]="true" [animation]="'DROP'">

      <agm-info-window>
        <strong>Info Window content</strong>
      </agm-info-window>

    </agm-marker>

  </agm-map>
</ion-content>