<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Passengers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="goToDrop()">
    <ion-fab-button color="secondary">
      <ion-icon name="arrow-forward" mode="md"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="headerContent">
    <ion-item>
      <ion-label>
        <ion-text class="ion-text-wrap" *ngIf="dataService.rideType === 'offer'">{{headerText}}</ion-text>
        <ion-text class="ion-text-wrap" *ngIf="dataService.rideType === 'find' ">{{headerTextTicketBook}}</ion-text>
      </ion-label>
    </ion-item>

  </div>
  <div class="count">
    <ion-segment mode="md">
      <ion-segment-button mode="md" class="ion-no-padding segmentBtn" color="undefined" (click)="updateCart('remove')"
        [disabled]="passengerCount <= 1 ">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-segment-button>
      <ion-input class="ion-padding-horizontal textUnits" [(ngModel)]="passengerCount" value={{passengerCount}} readonly
        placeholder={{passengerCount}}></ion-input>
      <ion-segment-button mode="md" color="undefined" (click)="updateCart('add')" class="segmentBtn ion-no-padding"
        [disabled]="passengerCount > 3 ">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-content>