<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding-top">

    <div *ngFor="let item of emailData;let i= index">
      <ion-item class="ion-padding paragraphItem" *ngIf="item.para">
        <ion-label>
          <ion-text class="ion-text-justify ion-text-wrap">
            {{item.para}}
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="item.head">
        <ion-toggle slot="end" class="colotoggle" checked *ngIf="item.toggle"></ion-toggle>
        <ion-icon slot="end" name="alert" *ngIf="!item.toggle" color="secondary"></ion-icon>
        <ion-label>
          <ion-text class="ion-text-capitalize">{{item.head}}</ion-text>
          <p *ngIf="item.des" class="ion-text-wrap">{{item.des}}</p>
        </ion-label>
      </ion-item>
      <div *ngIf="item.email">
        <ion-item>
          <ion-toggle slot="end" color="secondary" checked *ngIf="item.toggle"></ion-toggle>
          <ion-icon slot="end" name="alert" *ngIf="!item.toggle" color="danger"></ion-icon>
          <ion-input type="text" [(ngModel)]="item.email" *ngIf="item.email"></ion-input>
        </ion-item>
        <div>
          <p *ngIf="item.emailDesc" class="emailPara">{{item.emailDesc}}</p>
        </div>
        <ion-item class="ion-margin-bottom">
          <ion-button expand="block" fill="clear" color="secondary" class="full"> Send verification email</ion-button>
        </ion-item>
      </div>

    </div>
    <ion-item>
      <ion-button expand="block" fill="clear" color="dark" class="full"> Send verification email</ion-button>
    </ion-item>

  </ion-list>
</ion-content>