/**
  * Car Pool starter (https://store.enappd.com/product/blablacar-clone-ionic-car-pooling-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
ion-text {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 131, 143) !important;
}
.wrappable {
  white-space: normal;
}
ion-segment-button {
  --color-checked: var(--ion-color-secondary-tint);
  --color: var(--ion-color-secondary-tint);
  --indicator-color-checked: transparent;
}
.headerContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 120px;
  padding-top: 40px;
  ion-item {
    text-align: center;
  }
}
ion-item {
  --inner-border-width: 0 0 0px 0;
}

ion-text.textUnits {
  font-size: -webkit-xxx-large;
}
ion-input {
  --placeholder-color: var(--ion-color-secondary-tint);
  --placeholder-font-style: initial;
  --placeholder-font-weight: bold;
  --placeholder-opacity: 1;
  font-size: -webkit-xxx-large;
  color: var(--ion-color-secondary-tint);
  font-weight: bold;
}
ion-fab {
  bottom: 30px;
  ion-fab-button {
    width: 46px;
    height: 46px;
  }
}
ion-label {
  p {
    // color: #00838f;
    font-weight: bold;
  }
  ion-text.moneyText {
    font-size: 65px;
    font-weight: bold;
    color: #00838f !important;
  }
}
ion-button {
  --border-radius: 15px;
  height: 44px;
  margin-top: 40px;
  text-transform: none;
  font-weight: bold;
}
