<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Verify Phone</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="label_Class">
    <h5>Enter your mobile number</h5>
  </div>

  <ion-row>
    <ion-col size="4">
      <ion-item mode="md">
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="IN+91"
          [(ngModel)]="selectedValue" mode="ios">
          <ion-select-option *ngFor="let item of countryCode" value={{item.dial_code}} selected>{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="8">
      <ion-item class="inputItem" mode="md">
        <div color="medium" class="inputDiv">
          <ion-text slot="start">{{selectedValue}}</ion-text>
          <ion-input type="tel" class="item_input" [(ngModel)]="inputValue" maxlength="10" clearInput></ion-input>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>
  <div class="policyText ion-text-center">
    <ion-text class="text" color="medium">
      Tap Next to verify your account with Account Kit Powered by Facebook. You don't need a Facebook account to use
      Account Kit. An SMS may be sent to verify your number.
      Message and data rates may apply.<u>Learn how facebook uses your info.</u>
    </ion-text>
    <ion-button mode="md" expand="full" color="secondary" class="ion-margin-top"
      (click)="gotVerification(inputValue,selectedValue)" [disabled]="inputValue === ''">Next
    </ion-button>
  </div>

</ion-content>