/**
  * Car Pool starter (https://store.enappd.com/product/blablacar-clone-ionic-car-pooling-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
ion-content {
  --background: white !important;
}
.item_input {
  width: 100%;
  border-radius: 5px;
}

.label_Class {
  justify-content: center;
  align-items: center;
  display: flex;
  align-self: center;
  color: var(--ion-color-medium-tint);
  padding-top: 30px;
}
.inputItem {
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0 0 0px 0;
  --highlight-color-focused: none;
  --highlight-color-valid: #efeff0;
  background: #d7d8da66;
}
ion-item {
  --inner-border-width: 0 0 0px 0 !important;
}
.inputDiv {
  display: flex;
  align-items: center;
}
ion-select {
  --padding-start: 0px !important;
  max-width: 100% !important;
  align-items: center !important;
}
.text {
  font-size: 12px !important;
  letter-spacing: 1px;
}
.policyText {
  font-size: 9px;
  padding: 30px 0 18px 0px;
}
