<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-header color="secondary">
  <ion-toolbar color="secondary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <div class="profileImage">
      <ion-avatar [ngStyle]="{'background-image':'url('+ profileInfo.image +')'}">
      </ion-avatar>
      <ion-item color="secondary">
        <ion-label>
          <h2 color="light">{{profileInfo.name}}</h2>
          <p>{{profileInfo.userType}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-segment [(ngModel)]="tab" (ionChange)="changeSegmentValue($event)">
      <ion-segment-button value="details">
        <ion-label>Details</ion-label>
      </ion-segment-button>
      <ion-segment-button value="account">
        <ion-label>Account</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="segmentButton === 'details'">
    <div *ngFor="let profileData of profileInfoDetails">
      <ion-list>
        <ion-list-header>
          <ion-label>{{profileData.header}}</ion-label>
        </ion-list-header>
        <ion-item *ngIf="profileData.headerText" (click)="goForProfileEdit(profileData.headerText)">
          <p class="capitalize withMargin">{{profileData.headerText}}</p>
        </ion-item>
        <ion-item *ngIf="profileData.headerText1" (click)="goForPreferences(profileData.headerText1)">
          <p class="capitalize withMargin">{{profileData.headerText1}}</p>
        </ion-item>
        <ion-item *ngIf="profileData.headerText2" (click)="goForEmailVerification(profileData.headerText2)">
          <p class="capitalize withMargin">{{profileData.headerText2}}</p>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngIf="segmentButton === 'account' ">
    <ion-card>
      <ion-item class="ion-padding">
        <ion-label>
          <ion-text class="ion-text-justify ion-text-wrap" color="secondary">
            Sorry no account details available! Please try after some time.
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>