<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Add new vehicle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-top">
    <ion-list>
      <div *ngFor="let item of newvehicleData" class="ion-margin-top">
        <ion-list-header>
          <ion-label>{{item.label}}</ion-label>
        </ion-list-header>
        <ion-card>
          <ion-item>
            <ion-select interface="popover" placeholder={{item.placeholder}} [(ngModel)]="item.name"
              (ionChange)="getValue(item.name)">
              <ion-select-option value={{selectData.name}} *ngFor="let selectData of item.data;let  i of index">
                {{selectData.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>
      </div>
    </ion-list>
  </div>

  <ion-list>
    <ion-list-header>
      <ion-label>License PLate</ion-label>
    </ion-list-header>
    <ion-card>
      <ion-item>
        <ion-input type="text" [(ngModel)]="license" placeholder="License PLate No"></ion-input>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
<ion-footer (click)="openpageTRansition()">
  <div class="footer_center_item">
    <ion-button expand="full" color="secondary">Complete</ion-button>

  </div>
</ion-footer>