<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-header *ngIf="dataService.currentTab==='home'">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button *ngIf="dataService.rideType!=='find'">
        <ion-back-button text=""></ion-back-button>
      </ion-button>
      <ion-button *ngIf="dataService.rideType==='find'" (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-item>
    <h1>Pick-up</h1>
  </ion-item>
  <ion-searchbar placeholder="e.g Bangalore, Karnataka" class="background-transparent" [(ngModel)]="searchItem"
    showCancelButton="always" debounce="500" (ionFocus)="onFocus()" (ionChange)="searchOnChange()"
    (ionCancel)="onDismiss()" (ionBlur)="onBlur()" selected="true" autofocus="true">
  </ion-searchbar>

  <ion-card *ngIf="searchItem !== '' && showSearchResults">
    <ion-list style="box-shadow: 0 0px 6px #bdbdbd!important;">
      <ion-item *ngFor="let item of autocompleteItems" class="item-request-ride" button="true"
        (click)="chooseItem(item)">
        <ion-icon name="location-outline" slot="start" color="secondary"></ion-icon>
        <ion-label>
          <h2>{{item}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-item class="item-request-ride" button="true" (click)="getCurrentLocation()">
    <ion-icon *ngIf="!usingGPS" name="location-outline" slot="start" color="secondary"></ion-icon>
    <ion-icon *ngIf="usingGPS" name="location" slot="start" color="secondary"></ion-icon>
    <ion-label>
      <h2>{{usingGPS?'Using':'Use'}} current location</h2>
    </ion-label>
  </ion-item>

  <agm-map *ngIf="showMap" [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="zoom"
    [fullscreenControl]="true">
    <agm-marker [latitude]="location.latitude" [longitude]="location.longitude" [markerDraggable]="true"
      [animation]="'DROP'">
      <agm-info-window>
        <strong>Info Window content</strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>
  <div class="map-gap">
  </div>
  <ion-grid *ngIf="pickupAddress && pickupAddress.value">
    <ion-row>
      <ion-col>
        <ion-text class="label-small">Pickup Address</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10">
        <ion-text class="lighter">{{pickupAddress.value}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab *ngIf="pickupAddress.value" vertical="bottom" horizontal="end" slot="fixed" (click)="goToDrop()">
    <ion-fab-button color="secondary">
      <ion-icon name="arrow-forward" mode="md"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>