<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Search Results</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>From</h2>
        <h5>{{pickupAddress.value}}</h5>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>To</h2>
        <h5>{{dropAddress.value}}</h5>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>At</h2>
        <h5>{{date}} , {{time}}</h5>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-grid class="ion-padding">
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-text class="ion-text-wrap">{{pickupAddress.value}} </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col class="ion-text-center">
        <ion-icon name="arrow-down"> </ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{date}} , {{time}}</p>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-list>
    <ion-card class="map_card" *ngFor="let cards of ridesList" (click)="goForBooking(cards)">
      <ion-item>
        <div slot="start" class="verticalLineDiv">
          <ion-label>
            <ion-icon name="arrow-down-circle-outline" class="icon_drop"></ion-icon>
            <div class="vertical_dash" slot="start"></div>
            <ion-icon name="location-outline" class="icon_pin"></ion-icon>
          </ion-label>
        </div>
        <ion-label>
          <p class="horizontal_line">{{cards.pickup}}</p>
          <p>{{cards.dropoff}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img [src]=cards.image></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{cards.name}}</h2>
          <rating [(ngModel)]="starsCount" [max]="5" iconClass="star" fullIcon="☆" emptyIcon="★" [readonly]="false"
            [disabled]="false" [required]="true" [float]="true" [titles]="['one', 'two', 'three', 'four', 'five']"
            style="color:orange">
          </rating>
          <p>{{cards.car}}</p>
        </ion-label>
        <ion-label>
          <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-note>₹ {{cards.cost}}</ion-note>
          </ion-fab>

          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-icon name="call" expand="icon-only"></ion-icon>
          </ion-fab>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="location-outline" expand="icon-only" slot="start" color="danger" class="marginleft"></ion-icon>
        <ion-label>{{cards.numberPlate}}</ion-label>
        <ion-button color="secondary" fill="clear" slot="end"> Scheduled</ion-button>

      </ion-item>
    </ion-card>

  </ion-list>

</ion-content>