/**
  * Car Pool starter (https://store.enappd.com/product/blablacar-clone-ionic-car-pooling-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
ion-text {
  font-size: 14px;
  color: #006064;
  font-weight: bold;
}
.text_color {
  color: white;
}
.map_card {
  background: white;
  padding: 10px 0;
}
.vertical_dash {
  height: 7px !important;
  width: 74%;
  border-style: dashed;
  display: flex;
  border-left: dashed 1px;
  border-right: none;
  border-top: none;
  border-bottom: none;
  margin-left: 6.5px;
}
.icon_drop {
  font-size: 14px;
  color: green;
}
.icon_pin {
  font-size: 14px;
  color: var(--ion-color-all);
}
.horizontal_line {
  border-bottom: solid 1px #66666661;
  padding-bottom: 5px;
}
ion-label {
  margin: 3px 3px 3px 0px !important;
}
ion-icon.icon_Spec {
  font-size: 30px;
  color: var(--ion-color-all);
}
.vertical_line {
  width: 1px;
  background: gray;
  height: 56%;
  margin-right: 12px;
}

i.star.halfNaN {
  color: var(--ion-color-all) !important;
}
.dark_color {
  color: var(--ion-color-dark);
}
.dark_small {
  font-size: 10px;
}
p {
  color: var(--ion-color-secondary-shade);
}
ion-note {
  color: var(--ion-color-secondary-shade);
  font-weight: bold;
  font-size: 16px;
}
.circle {
  padding-bottom: 20px;
}
.verticalLineDiv {
  height: 52px;
  margin-left: 10px;
}
.map_card {
  ion-item {
    --inner-border-width: 0 0 0px 0;
  }
}
ion-item {
  h5 {
    color: #666;
  }
}
.marginleft {
  margin-left: 5.5px;
}
