/**
  * Car Pool starter (https://store.enappd.com/product/blablacar-clone-ionic-car-pooling-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.or_with_Line {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  hr {
    height: 1px;
    border-width: 0;
    box-sizing: content-box;
    background: var(--ion-color-light-shade);
    width: 150px;
  }
}
ion-text {
  padding-top: 10px;
  .secondary {
    color: #00bcd4;
  }
}
.Input_Fields {
  width: 100%;
}
p {
  font-weight: bold;
  min-height: 32px;
}
ion-button {
  width: 300px;
  height: 48px;
}
ion-footer {
  ion-button {
    width: 100%;
  }
}
.inputField {
  border: 1px solid #eaeaee;
  font-size: 14px;
  margin-bottom: 15px;
}
.sc-ion-input-md-h {
  --padding-start: 16px !important;
}
ion-item {
  --border-width: 0 0 0px 0 !important;
}
