/**
  * Car Pool starter (https://store.enappd.com/product/blablacar-clone-ionic-car-pooling-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
ion-select {
  max-width: 100% !important;
  --padding-top: 0 !important;
  --padding-end: 8px !important;
  --padding-bottom: 0 !important;
  --padding-start: 0px !important;
}
ion-button {
  height: 40px;
  --border-radius: 14px;
  margin: 32px 16px 0 16px;
}
