<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Forgot Psassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="flex">
    <ion-item class="ion-margin-vertical">
      <ion-text color="dark">Please enter the email you signed up with, we will send you a link to change your password.
      </ion-text>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label position="stacked" color="medium">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-button (click)="gotoLoginformHome()" expand="round" color="secondary" type="submit"
      class="ion-text-capitalize ion-margin-top">
      Submit</ion-button>
  </ion-list>
</ion-content>