/**
  * Car Pool starter (https://store.enappd.com/product/blablacar-clone-ionic-car-pooling-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
ion-button {
  width: 95%;
  height: 48px;
  letter-spacing: 1px;
  margin-top: 20px;
}
ion-text {
  font-size: 15px;
  text-align: justify;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
ion-item {
  width: 100%;
  --inner-padding-end: 16px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
