/**
  * Car Pool starter (https://store.enappd.com/product/blablacar-clone-ionic-car-pooling-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
ion-label {
  ion-text {
    color: #006064;
    font-weight: bold;
  }
}
ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}
agm-map {
  height: 400px;
}
#map {
  height: 100%;
}
ion-footer {
  ion-button {
    --border-radius: 16px;
    height: 40px;
    text-transform: none;
  }
}
