/**
  * Car Pool starter (https://store.enappd.com/product/blablacar-clone-ionic-car-pooling-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
ion-text {
  font-size: 25px;
  font-weight: bold;
  color: #006064;
}
ion-item {
  --inner-border-width: 0 0 0px 0 !important;
  width: 100%;
}
.card_pickup1 {
  background: white;
  // width: calc(100% - 5%) !important;
  min-height: 65px;
  display: flex;
  align-items: center;
  border-radius: 40px;
}
h1 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 131, 143);
}
.card_pickup2 {
  // width: calc(100% - 25%);
  border-radius: 40px;
  margin: auto;
}
.card_Destination1 {
  // width: calc(100% - 34%);
  // z-index: 111;
  border-radius: 40px;
  margin: auto;
}
.card_destination2 {
  // width: calc(100% - 5%);
  border-radius: 40px;
}
.mapcardItem {
  color: var(--ion-color-all) !important;
}

h2 {
  color: rgb(0, 96, 100);
  font-weight: bold;
}
.date-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
ion-fab {
  top: 120px;
  ion-fab-button {
    width: 50px;
    height: 50px;
  }
}
ion-img {
  width: 25px;
  height: 25px;
}
p {
  color: rgb(233, 30, 99);
}
.width {
  width: 100%;
  ion-button {
    height: 40px;
    --border-radius: 15px;
  }
}
.alertCss {
  --background: var(--ion-color-danger) !important;

  --color: red !important;
}
ion-icon {
  -webkit-margin-end: 5px;
  margin-inline-end: 5px;
}
.header-md:after {
  background-image: none !important;
}
.sc-ion-card-ios-h {
  margin-bottom: 12px;
  margin-top: 15px;
}
