<!-- /**
 * Car Pool starter (https://store.enappd.com/product/carpool-app-starter-ionic)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ -->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Price</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header mode="ios">
      <ion-label>Edit the price</ion-label>
    </ion-list-header>
    <ion-row *ngFor="let priceChart of priceEditList;let i = index;">
      <ion-col size="6">
        <ion-item>
          <ion-label>
            <h2>{{priceChart.pickup}} >> {{priceChart.destination}}</h2>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-segment>
          <ion-segment-button class="ion-no-padding segmentBtn" color="undefined" (click)="updateCart('remove',i)"
            [disabled]="priceChart.price <= 100 ">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-segment-button>

          <ion-input class="ion-padding-horizontal textUnits" [(ngModel)]="priceValue[i]"
            placeholder={{priceChart.placeholder}} value="₹{{priceChart.price}}.00" readonly></ion-input>

          <ion-segment-button class="ion-no-padding segmentBtn" color="undefined" (click)="updateCart('add',i)"
            [disabled]="priceChart.price > 300 ">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
<ion-footer class="ion-padding">
  <ion-toolbar>
    <ion-button *ngIf="dataService.journey" expand="block" type="submit" color="secondary" (click)="goToDrop()">Confirm
    </ion-button>
    <ion-button *ngIf="!dataService.journey" expand="block" type="submit" color="secondary" (click)="goToDrop()">Save
    </ion-button>

  </ion-toolbar>
</ion-footer>