/**
  * Car Pool starter (https://store.enappd.com/product/blablacar-clone-ionic-car-pooling-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
h2 {
  font-size: 12px;
  font-weight: bold;
  color: #006064;
  white-space: normal;
}
ion-segment-button {
  min-width: 20px;
  max-width: 30px;
  --indicator-color: transparent;
  --color-checked: #00bcd4;
  --color: #00bcd4;
}
ion-input {
  --placeholder-color: var(--ion-color-success-shade);
  --placeholder-opacity: 1;
  --color: var(--ion-color-success-shade);
}
ion-item {
  --inner-border-width: 0 0 0px 0;
}
.toastBack {
  --background: var(--ion-color-secondary-tint) !important;
}
ion-button {
  height: 40px;
  --border-radius: 15px;
}
