/**
  * Car Pool starter (https://store.enappd.com/product/blablacar-clone-ionic-car-pooling-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
.header-md:after {
  background-image: none;
}
ion-searchbar {
  --background: #e0e0e073;
}
ion-icon {
  // margin-top: 6px !important;
  // font-size: 1.3em;
}
ion-label {
  margin: 14px 10px 13px 12px !important;
}
.map-gap {
  padding-top: 50vh;
}
agm-map {
  height: 50vh;
  width: 100%;
  position: absolute;
  left: 0;
}
#map {
  height: 100%;
}
h1 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 131, 143);
}
ion-list {
  padding-top: 0;
  padding-bottom: 0;
}
ion-card {
  margin-top: 0;
  position: absolute;
  z-index: 2;
  width: 88%;
}
.label-small {
  font-weight: bold;
  color: #444;
}
.lighter {
  font-weight: lighter;
}
